@media(min-width:500px)and(max-width:900px){
.page-1{
 background-image: url(images/wave-bg.svg);
  background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
ul
{
display: flex;
justify-content: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-2{
     margin: 20px;
    display: grid;
    grid-template-columns: auto auto;
}
.contents-2{
display: inline;
}
.page2{
    height: 500px;
    display: grid;
    grid-template-columns: auto auto;
}
.form{
  margin: 40px;
  margin-top: 0px;
}
.myservice{
  text-align: center;
}
.images{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
justify-content: center;
height: auto;
}
.myskill{
  text-align: center;
}
.table1{
    background: #fff;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.s1{
    display: flex;
    flex-direction: column;
  justify-content: center;
}
.skill {
    margin-bottom: 15px;
}
.skill-name {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 5px;
}
.skill-bar {
    position: relative;
    height: 10px;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
.skill-bar-fill {
    height: 100%;
    background: #f1c40f;
    width: 0;
    border-radius: 5px;
    transition: width 1.5s ease-in-out;
}
.images{
display: flex;
flex-direction: column;
gap: 20px;
align-items: center;
height: auto;
width: auto;
justify-content: space-evenly;
}
.experience{
  text-align:center;
}
#table2{
background: #fff;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  margin: 50px;
}
.idcard{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.classtext{
  text-align: center;
  margin: 40px;
}
.idcard2{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin: 50px;
}
.common{
  display: flex;
  flex-direction: row;
}
.card1{
   display: flex;
  flex-direction: row;
}
.form1{
  text-align: center;
}
.last{
   display: flex;
  flex-direction: column;
text-align: center;
}
.lastpage{
  margin-top: 150px;
  padding: 40px;
  background-color:lavender;
}
.sitems{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
}
